/* Базовые стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  background-color: #faf9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* Запрет горизонтальной прокрутки */
}

/* Шапка (header) */
header {
  padding: 15px 20px;
  background-color: #faf9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 70px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #6b8bdd;
  text-decoration: none;
}

.logo img {
  height: 40px; /* Фиксированная высота логотипа */
  width: auto;
}

/* Навигация (скрывается на мобильных) */
nav ul {
  list-style: none;
  display: flex;
  gap: 70px;
}

nav ul li a {
  text-decoration: none;
  color: #3a3d3a;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #0056b3;
}

/* Кнопка "Войти" */
.login button {
  background-color: #3a3d3a;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login button:hover {
  background-color: rgb(103, 105, 103);
}

/* Бургер-меню (скрыто по умолчанию) */
.burger-menu {
  display: none; /* По умолчанию скрыто */
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 100;
  position: relative;
}

.burger-menu span {
  width: 25px;
  height: 3px;
  background-color: #3a3d3a;
}

 /* Карточка формы с рамкой и скругленными углами */
    .form-card {
      width: 100%;
      max-width: 350px;

      border-radius: 15px;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

      background: rgba(255,255,255,0.3);
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
      border: 1px solid rgba(255, 255, 255, 0.697);
    }
    .form-card h2 {
      text-align: center;
      margin-bottom: 40px;
      color: #6b8bdd;
      font-weight: bold;
    }
    /* Стилизация полей ввода */
    .form-group {
      margin-bottom: 10px;
    }
    .form-group label {
      display: block;
      margin-bottom: 5px;
      font-size: 14px;
      color: #bdc0c5;
    }
    .form-group input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      color: rgb(103, 105, 103);
      border: 2px solid #e0e4e9;
      border-radius: 50px;
      background: transparent;
      caret-color: rgb(103, 105, 103);
    }
    .form-group input:focus {
      outline: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
    .form-group-code input{
      color: #333;
      caret-color: #333;
    }
    /* Стили для полей ввода с автозаполнением */
    .form-group input:-webkit-autofill,
    .form-group input:-webkit-autofill:hover, 
    .form-group input:-webkit-autofill:focus {
    -webkit-text-fill-color: rgb(103, 105, 103) !important; /* Белый текст */
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; /* Прозрачный фон */
    transition: background-color 5000s ease-in-out 0s; /* Отключаем анимацию заливки */
    }

    /* Кнопка */
    .form-button {
      width: 100%;
      padding: 10px;
      background: #E6F2FF ;
      color: #6b8bdd;
      border: none;
      font-size: 16px;
      font-weight: bold;
      border-radius: 20px;
      cursor: pointer;
      margin-top: 40px;
      box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    }
    .form-button:hover {
      background: #62d6a0;
      color: white;
      transform: scale(1.02);
      transition: all 0.2s ease;
    }
    /* Ссылка на страницу регистрации */
    .link-text {
      text-align: center;
      margin-top: 15px;
      font-size: 14px;
    }
    .link-text a {
      color: rgb(103, 105, 103);
      text-decoration: none;
    }
    .link-text a:hover {
      text-decoration: underline;
    }



    .disabled {
      background: #e0e0e0 !important;  /* Светло-серый фон */
      color: #5c79c0 !important;       /* Серый текст */
  cursor: not-allowed !important;  /* Курсор "недоступно" */
  box-shadow: none !important;     /* Убираем тень */
  transform: none !important;  
    }
    /* Блок с таймером */
    .timer {
      text-align: center;
      margin-top: 10px;
      font-size: 14px;
      color: #4B0082;
    }
    /* Стили для модального окна */
    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      display: none;
      align-items: center;
      justify-content: center;
      z-index: 1000;
    }
    .modal {
      background: #f8f8f8;
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      width: 300px;
      padding: 20px;
      position: relative;
    }
    .modal h3 {
      text-align: center;
      margin-bottom: 15px;
      color: #6E7FF3;
    }
    .modal .form-group {
      margin-bottom: 15px;
    }
    /* Кнопка внутри модального окна */
    .modal-button {
      width: 100%;
      padding: 10px;
      background: #6E7FF3;
      color: #fff;
      border: none;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
      transition: background 0.3s;
    }
    .modal-button:hover {
      background: #5753C9;
    }
    /* Иконка закрытия модального окна */
    .close-modal {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 18px;
      color: #5753C9;
      cursor: pointer;
    }




/* Основное содержимое */
main {
  flex: 1;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Выравнивание по горизонтали */
  align-items: center; /* Выравнивание по вертикали */
  min-height: calc(100vh - 70px); /* Высота минус шапка */
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

/* Левая часть (текст) */
.left {
  flex: 1;
  min-width: 300px;
}

.left h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #007BFF;
}

.left p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* Правая часть (слайдер) */
.right {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.slider {
  width: 100%;
  max-width: 500px;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #f8f8f8;
}

.slides {
  display: flex;
  width: 300%;
  height: 100%;
  animation: slideAnimation 12s infinite;
}

.slide {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

/* Анимация слайдера */
@keyframes slideAnimation {
  0%, 30% { transform: translateX(0%); }
  33%, 63% { transform: translateX(-33.33%); }
  66%, 96% { transform: translateX(-66.66%); }
  100% { transform: translateX(0%); }
}

/* Кнопка "Создать квиз" в index */
.left .login button {
  background-color: #6b8bdd;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
}

/* Стили для мобильного меню */
.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 280px;
  height: 100%;
  background-color: #faf9f9;
  z-index: 99;
  padding: 80px 20px 20px;
  transition: right 0.3s ease;
  overflow-y: auto;
}
.mobile-menu nav {
  display: block;
}
.mobile-menu nav ul {
  flex-direction: column;
  gap: 30px;
}

.mobile-menu nav ul li a {
  font-size: 18px;
  color: #3a3d3a;
  padding: 10px 0;
  text-decoration: none;
  color: #3a3d3a;
  transition: color 0.3s;
}
.mobile-menu nav ul li a:hover{
   color: #0056b3;
}

.mobile-menu .login {
  margin-top: 30px;
  display: block;
}

.mobile-menu .login button {
  width: 100%;
}

/* Класс для показа меню */
.menu-open .mobile-menu {
  right: 0;
}

.menu-open .mobile-menu-overlay {
  opacity: 1;
  visibility: visible;
}


/* СОЗДАНИЕ КВИЗА */
/* Блок для табов */
    .tabs {
      display: flex;
      justify-content: left;
      border-bottom: 1px solid #e0e0e0;
      margin-bottom: 20px;
      width: 70%;
    }
    .tab {
      padding: 10px 20px;
      cursor: pointer;
      color: #007BFF;
      border: 1px solid transparent;
      transition: background-color 0.3s, border 0.3s;
    }
    .tab.active {
      border: 1px solid #e0e0e0;
      border-bottom: none;
      background-color: #f8f8f8;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      font-weight: bold;
    }
    /* Контент табов */
    .tab-content {
      display: none;
    }
    .tab-content.active {
      display: block;
      width: 70%;
    }

    /* Стили для блока создания квиза */
    #questions-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .question-block {
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      padding: 15px;
      background: #f8f8f8;
      position: relative;
    }
    .question-block textarea.question-text {
      width: 100%;
      height: 80px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      font-size: 14px;
      margin-bottom: 10px;
    }
    
    /* Поле корректного ответа всегда отображается */
    .question-block input.correct-answer {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 10px;
    }
    .options-toggle {
      margin-bottom: 10px;
    }
    .options-toggle label {
      font-size: 14px;
      color: #333;
      cursor: pointer;
    }
    .options-toggle input {
      margin-right: 5px;
    }
    .options-container {
      margin-top: 10px;
      border: 1px dashed #ccc;
      padding: 10px;
      border-radius: 4px;
      background: #fff;
      display: none;
    }
    .options-container .option {
      margin-bottom: 10px;
    }
    .options-container .option input {
      width: 100%;
      padding: 8px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    .add-option-button, .delete-question {
      padding: 5px 10px;
      font-size: 14px;
      color: #007BFF;
      background: #fff;
      border: 1px solid #007BFF;
      border-radius: 4px;
      cursor: pointer;
      transition: background 0.3s, color 0.3s;
    }
    .add-option-button:hover {
      background: #007BFF;
      color: #fff;
    }
    .delete-question{
      margin: 10px 0;
      border: 1px solid rgb(235, 25, 25);
      color: rgb(235, 25, 25);
      border: 1px dashed;
    }
    .delete-question:hover{
      border: 1px solid;
      color:#fff;
      background-color: rgb(235, 25, 25);
    }
    .tab.active, .tab {
      color: #6b8bdd;
    }
    /* Кнопки внизу страницы */
    .add-question-button, .create-quiz-button {
      background-color: #6b8bdd;
      color: white;
      padding: 10px 20px;
      margin-top: 20px;
      width: 100%;
      font-size: 16px;
     
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background 0.3s;
      color: white;
    }
    .create-quiz-button{
      background: #62d6a0;
    }
    .create-quiz-button:hover{
      background: #4ca77d;
    }

    .add-question-button:hover {
      background:  #5974b8;
    }
    /* Стили для раздела "Настройка" */
    #settings-tab-content {
      padding: 20px;
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      background: #f8f8f8;
      font-size: 16px;
      color: #333;
    }
    .timer-toggle {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      font-size: 16px;
    }
    .timer-toggle label {
      margin-right: 10px;
      cursor: pointer;
    }
    .timer-toggle input {
      margin-right: 10px;
      transform: scale(1.2);
    }
    .timer-input {
      width: 80px;
      padding: 5px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }


/* Адаптация для планшетов */
@media (max-width: 768px) {
  header {
    padding: 10px 15px;
  }

  .logo img {
    height: 30px; /* Уменьшаем логотип */
  }

  .tabs, .tab-content.active{
    width: 100%;
  }

  /* Скрываем навигацию и кнопку "Войти" */
  nav, .login {
    display: none;
  }

  /* Показываем бургер-меню */
  .burger-menu {
    display: flex;
  }
  .main{
    margin: 0 auto;
  }

  .content {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
    padding: 0;
  }

  .left h1 {
    font-size: 28px;
  }
}

/* Адаптация для смартфонов */
@media (max-width: 480px) {
  .left h1 {
    font-size: 24px;
  }

  .left p {
    font-size: 16px;
  }
  

  .slider {
    height: 200px;
  }
}